<!DOCTYPE html>
<html>
    <head>
        <title>Full Metal Films</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <link rel=stylesheet type=text/css href="static/css/bootstrap.min.css">
        <script src="static/js/bootstrap.min.js"></script>
        <link rel=stylesheet type=text/css href="static/css/style.css">
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>




