

{% extends "base.html" %}

{% block content %}
<link rel=stylesheet type=text/css href="static/css/fmf_gray.css">

<div ng-app="findFilmsApp">
    <navigationbar></navigationbar>
    <div ng-view></div>
</div>

<script src="{{ url_for('static', filename='js/findfilms.js') }}"></script>

{% endblock %}