{% extends "base.html" %}

{% block content %}


<div ng-app="FindFilmsApp">
    <navigationbar></navigationbar>
    <div ng-view></div>
</div>

<script src="{{ url_for('static', filename='js/findfilms.js') }}"></script>

{% endblock %}