<div class="table-responsive">
    <table class="table">
        <tbody>
        <tr>
            <td width="20%">
                <search></search>
            </td>

            <td width="80%">
                <div class="row">
                    <div ng-repeat="film in listedFilms">
                        <div>{{film.path}}</div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-ld-2" ng-repeat="film in listedFilms"
                         style="margin-bottom: 10px;">
                        <div class="thumbnail">
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                    data-target="#{{film.path}}">
                                <img src="{{getImgSrc(film)}}">
                            </button>
                            <div id="{{film.path}}" class="modal fade" role="dialog">
                                <div class="modal-dialog modal-lg">

                                    <!-- Modal content-->
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <button type="button" class="close"
                                                    data-dismiss="modal"></button>
                                            <table>
                                                <tbody>
                                                <tr>
                                                    <td style="padding:5px">
                                                        <div class="star-box">
                                                            <div><b>{{ film.rating }}</b></div>
                                                        </div>
                                                    </td>
                                                    <td style="padding:5px">
                                                        <h4 class="modal-title">{{ film.title }} ({{
                                                            film.year
                                                            }})</h4>
                                                        <h5 style="margin:0px">{{ film.genres }}</h5>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </div>

                                        <div class="modal-body">
                                            <table>
                                                <tbody>
                                                <tr>
                                                    {{ film.plot }}
                                                </tr>
                                                <tr>
                                                    <td class="head">Stars:</td>
                                                    <td class="body">{{ film.cast }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="head">Directors:</td>
                                                    <td class="body">{{ film.director }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="head">Writers:</td>
                                                    <td class="body">{{ film.writer }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="path">Path:</td>
                                                    <td class="path">{{ film.path }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div></div>
                                            <div ng-repeat="file in film.videofiles">
                                                <div><span class="glyphicon glyphicon-film" aria-hidden="true"></span> {{file}}</div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">

                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                            </button>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </td>

        </tr>
        </tbody>
    </table>
</div>