<div class="table-responsive">
    <table class="table">
        <tbody>
        <tr>
            <td width="10%" style="background-color: none"></td>
            <td width="20%" style="background-color: white">
                <search></search>
            </td>

            <td width="60%" style="background-color: white">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-ld-2" ng-repeat="film in listedFilms"
                         style="margin-bottom: 10px;">
                        <div class="thumbnail">
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                    data-target="#{{film._id}}" style="position:relative;">
                                <img src="{{getImgSrc(film)}}">
                                <img ng-style="film.available && {'opacity':'0.0'} || !film.available && {'opacity':'0.5'}"
                                     src="static/cover/x.png" style="position: absolute; left:0; top:0;">
                            </button>
                            <div id="{{film._id}}" class="modal fade" role="dialog">
                                <div class="modal-dialog modal-lg">

                                    <!-- Modal content-->
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <button type="button" class="close"
                                                    data-dismiss="modal"></button>
                                            <table class="table-responsive" style="width: 100%">
                                                <tbody>
                                                <tr>
                                                    <td class="col-xs-1 col-md-1 col-lg-1" style="padding:5px">
                                                        <div class="star-box">
                                                            <div><b>{{ film.rating }}</b></div>
                                                        </div>
                                                    </td>
                                                    <td class="col-xs-10 col-md-10 col-lg-10" style="padding:5px">
                                                        <h4 class="modal-title">{{ film.title }} ({{
                                                            film.year
                                                            }})</h4>
                                                        <h5 style="margin:0px">{{ film.genres }}</h5>
                                                        <sup>{{film.country}}</sup>
                                                    </td>
                                                    <td class="col-xs-1 col-md-1 col-lg-1" style="padding:5px">
                                                        <a href="{{film.imdblink}}" target="_blank">
                                                            <img src="static/images/IMDblogo.png" alt="IMDb"
                                                                 style="width: 50px; height: 50px;">
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </div>

                                        <div class="modal-body">
                                            <table>
                                                <tbody>
                                                <tr>
                                                    {{ film.plot }}
                                                </tr>
                                                <tr>
                                                    <td class="head">Casts:</td>
                                                    <td class="body">{{ film.cast }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="head">Directors:</td>
                                                    <td class="body">{{ film.director }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="head">Writers:</td>
                                                    <td class="body">{{ film.writer }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div></div>
                                            <table id="modal-table">
                                                <thead>
                                                <tr>
                                                    <td></td>
                                                    <td><h6>Path</h6></td>
                                                    <td><h6>Timer (min)</h6></td>
                                                    <td><h6>Seen</h6></td>
                                                    <td><h6>Play</h6></td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="file in film.videofiles">
                                                    <td>
                                                        <span class="glyphicon glyphicon-film"
                                                              aria-hidden="true"></span>
                                                    </td>
                                                    <td ng-class="{seenTrue: file.seen == true, seenFalse: file.seen == false}">
                                                        {{file.film}}
                                                    </td>
                                                    <td>
                                                        <input type="number" min="0" required="true" integer class="form-control"
                                                               ng-model="file.timer" style="width: 80px;">
                                                    </td>
                                                    <td>
                                                        <label>
                                                            <input type="checkbox" ng-model="file.seen">
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <a href="" ng-click="play(file)"><span
                                                                class="glyphicon glyphicon-play"></span></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                                    ng-click="save(film)">Save
                                            </button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                            </button>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <nav>
                        <ul class="pagination">
                            <li ng-class="{disabled: params.pageActual == 1}"
                                ng-click="pagination(params.pageActual-1)">
                                <a href="" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            <li ng-hide="5 > params.pageActual" ng-click="pagination(1)">
                                <a href="">1 ... <span class="sr-only"></span></a>
                            </li>

                            <li ng-show="0 < params.pageActual-3" ng-click="pagination(params.pageActual-3)">
                                <a href="">{{params.pageActual-3}}<span class="sr-only"></span></a>
                            </li>
                            <li ng-show="0 < params.pageActual-2" ng-click="pagination(params.pageActual-2)">
                                <a href="">{{params.pageActual-2}}<span class="sr-only"></span></a>
                            </li>
                            <li ng-show="0 < params.pageActual-1" ng-click="pagination(params.pageActual-1)">
                                <a href="">{{params.pageActual-1}}<span class="sr-only"></span></a>
                            </li>

                            <li class="active">
                                <a href="#">{{params.pageActual}} <span class="sr-only"></span></a>
                            </li>

                            <li ng-show="params.pageAll+1 > params.pageActual+1" ng-click="pagination(params.pageActual+1)">
                                <a href="">{{params.pageActual+1}}<span class="sr-only"></span></a>
                            </li>
                            <li ng-show="params.pageAll+1 > params.pageActual+2" ng-click="pagination(params.pageActual+2)">
                                <a href="">{{params.pageActual+2}}<span class="sr-only"></span></a>
                            </li>
                            <li ng-show="params.pageAll+1 > params.pageActual+3" ng-click="pagination(params.pageActual+3)">
                                <a href="">{{params.pageActual+3}}<span class="sr-only"></span></a>
                            </li>

                            <li ng-hide="params.pageAll-4 < params.pageActual" ng-click="pagination(params.pageAll)">
                                <a href="">... {{params.pageAll}} <span class="sr-only"></span></a>
                            </li>

                            <li ng-class="{disabled: params.pageActual == params.pageAll}"
                                ng-click="pagination(params.pageActual+1)">
                                <a href="" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </td>
            <td width="10%"></td>
        </tr>
        </tbody>
    </table>
</div>