<div id="{{film.imdbid}}" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal"></button>
                <table>
                    <tbody>
                    <tr>
                        <td style="padding:5px">
                            <div class="star-box">
                                <div><b>{{ film.imdb.rating }}</b></div>
                            </div>
                        </td>
                        <td style="padding:5px">
                            <h4 class="modal-title">{{ film.imdb.title }} ({{
                                film.imdb.year
                                }})</h4>
                            <h5 style="margin:0px">{{ film.imdb.genres }}</h5>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div class="modal-body">
                <table>
                    <tbody>
                    <tr>
                        {{ film.imdb.plot }}
                    </tr>
                    <tr>
                        <td class="head">Stars:</td>
                        <td class="body">{{ film.getCast() }}</td>
                    </tr>
                    <tr>
                        <td class="head">Directors:</td>
                        <td class="body">{{ film.getDirector() }}</td>
                    </tr>
                    <tr>
                        <td class="head">Writers:</td>
                        <td class="body">{{ film.getWriter() }}</td>
                    </tr>
                    <tr>
                        <td class="path">Path:</td>
                        <td class="path">{{ film.getPath() }}</td>
                    </tr>
                    </tbody>
                </table>
                <div>

                </div>
            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Close
                </button>
            </div>

        </div>

    </div>
</div>