<div class="navbar navbar-inverse" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Find My Films!</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/update-new"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a></li>
                <li><a href="#/not-sure"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></a></li>
                <li><a href="#/settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></li>
            </ul>
        </div>

    </div>
</div>