<div id="not-sure">
    <form ng-submit="state.submit()">
        <table style="width:100%">
            <tbody>
            <tr>
                <td style="width: 10%"></td>
                <td style="width: 80%">
                    <div class="panel panel-default">
                        <table id="not-sure-table" class="table">
                            <tbody>
                            <tr ng-show="state.show()">
                                <td><div align="center">Nothing to do here. Try to click on "{{state.all && 'Show only invalid' || 'Show all'}}".</div></td>
                            </tr>
                            <tr ng-repeat="film in state.filmList">
                                <td>{{film.path}}</td>
                                <td><a target="_blank" href="{{film.imdblink}}">Show</a></td>
                                <td id="imdb-link-td"><input class="form-control align-middle" type="text" ng-model="film.imdblink" ng-change="state.changed(film)"></td>
                                <td><a id="id-valid" class="btn pull-right" ng-class="{true: 'btn-success', false: 'btn-danger'}[film.isidvalid]"
                                       ng-click="film.isidvalid = !film.isidvalid; state.changed(film)">
                                    {{film.isidvalid && 'Correct' || 'Correct?'}}
                                </a>
                                </td>
                            <tr>
                            </tbody>
                        </table>
                        <div class="panel-footer" style="overflow: hidden;">
                            <button class="btn btn-default" ng-click="state.update()" style="width:140px;">
                                {{state.all && 'Show only invalid' || 'Show all'}}
                            </button>
                            <button class="btn btn-default" ng-click="state.save()" style="float: right;">
                                Save changes
                                <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="state.saved"></span>
                            </button>
                        </div>
                    </div>
                </td>
                <td style="width: 10%"></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
