<form ng-submit="search()">
    {{ form.csrf_token }}
    <div class="panel panel-default">
        <!--<div class="panel-heading">Search</div>-->
        <div class="panel-body">
            <div>
                <div id="specnorm">
                    <button type="button" class="btn btn-default"
                            ng-click="state.advSearch=!state.advSearch" style="width:100%;">
                        <span ng-hide="state.advSearch">Specific search...</span>
                        <span ng-show="state.advSearch">Normal search</span>
                    </button>
                </div>
                <div class="input-group">
                    <input class="form-control ng-pristine ng-valid" type="text" ng-model="params.title"
                           placeholder="Title...">
                    <div class="input-group-btn btn-block">
                        <button type="button" class="btn btn-default"
                                ng-click="state.showSort=!state.showSort">
                            <span class="glyphicon glyphicon-sort"></span>
                        </button>
                    </div><!-- /btn-group -->
                </div><!-- /input-group -->
                <div class="wrapper">
                    <div class="list-group" ng-show="state.showSort">
                        <a href="" class="list-group-item" ng-click="setSort('year-asc')"
                           ng-class="{active: params.sort == 'year-asc', inactive: params.sort != 'year-asc'}">Year
                            <span class="glyphicon glyphicon-sort-by-order"></span></a>
                        <a href="" class="list-group-item" ng-click="setSort('year-desc')"
                           ng-class="{active: params.sort == 'year-desc', inactive: params.sort != 'year-desc'}">Year
                            <span class="glyphicon glyphicon-sort-by-order-alt"></span></a>
                        <a href="" class="list-group-item" ng-click="setSort('title-asc')"
                           ng-class="{active: params.sort == 'title-asc', inactive: params.sort != 'title-asc'}">Title
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                        <a href="" class="list-group-item" ng-click="setSort('title-desc')"
                           ng-class="{active: params.sort == 'title-desc', inactive: params.sort != 'title-desc'}">Title
                            <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
                        <a href="" class="list-group-item" ng-click="setSort('imdb-asc')"
                           ng-class="{active: params.sort == 'imdb-asc', inactive: params.sort != 'imdb-asc'}">IMDb
                            <span class="glyphicon glyphicon-sort-by-order"></span></a>
                        <a href="" class="list-group-item" ng-click="setSort('imdb-desc')"
                           ng-class="{active: params.sort == 'imdb-desc', inactive: params.sort != 'imdb-desc'}">IMDb
                            <span class="glyphicon glyphicon-sort-by-order-alt"></span></a>
                    </div>
                </div>

                <div ng-hide="state.advSearch">
                    <h5>Paths</h5>

                    <div ng-repeat="path in params.paths">
                        <label ng-click="search()">
                            <input type="checkbox" ng-model="path.value">
                            {{path.path}}
                            <span ng-style="path.available && {'color':'green'} || !path.available && {'color':'red'}">
                                {{path.available && ' ONLINE' || !path.available && ' OFFLINE'}}
                            </span>
                        </label>
                    </div>
                </div>

                <div ng-hide="state.advSearch">
                    <h5>Categories</h5>

                    <div ng-repeat="category in params.categories">
                        <label ng-click="search()">
                            <input type="checkbox" ng-model="category.value">
                            {{ category.category}}
                        </label>
                    </div>
                </div>

                <div ng-show="state.advSearch">
                    <table class="table">
                        <tbody>
                        <tr class="specific">
                            <td>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Year from"
                                           aria-describedby="basic-addon1" ng-model="params.year.from"
                                            min="1900" max="{{params.year.to}}">
                                    <input type="number" class="form-control" placeholder="to"
                                           aria-describedby="basic-addon1" ng-model="params.year.to"
                                            min="{{params.year.from}}" max="2050">
                                </div>
                            </td>
                        </tr>
                        <tr class="specific">
                            <td>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Rating from"
                                           aria-describedby="basic-addon1" ng-model="params.rating.from"
                                            min="0" max="{{params.rating.to}}">
                                    <input type="number" class="form-control" placeholder="to"
                                           aria-describedby="basic-addon1" ng-model="params.rating.to"
                                            min="{{params.rating.from}}" max="10">
                                </div>
                            </td>
                        </tr>
                        <tr class="specific">
                            <td>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Runtime from"
                                           aria-describedby="basic-addon1" ng-model="params.runtime.from"
                                            min="0" max="{{params.runtime.to}}">
                                    <input type="number" class="form-control" placeholder="to"
                                           aria-describedby="basic-addon1" ng-model="params.runtime.to"
                                            min="{{params.runtime.from}}" max="999">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-control ng-pristine ng-valid" type="text"
                                    placeholder="Director" ng-model="params.director">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-control ng-pristine ng-valid" type="text"
                                    placeholder="Writer" ng-model="params.writer">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-control ng-pristine ng-valid" type="text"
                                    placeholder="Cast" ng-model="params.cast">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-control ng-pristine ng-valid" type="text"
                                    placeholder="Country" ng-model="params.country">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                <input type="submit" style="display: none"/>
                </div>
            </div>
        </div>
    </div>
</form>