<div class="table-responsive">
    <table class="table">
        <tbody>
        <tr>
            <td width="10%"></td>
            <td width="80%" style="padding-top: 0px;">
                <form novalidate ng-controller="SettingsController">
                <div class="panel panel-default">
                    <div class="panel-body">

                            <div>
                                <h4>MongoDB connection link:</h4>
                                <input class="form-control" type="text" ng-model="state.connectionLink" value="state.connectionLink"
                                        ng-click="savedFalse()" title="mongo">
                            </div>
                            <div>
                                <h4>Paths:</h4>
                                <div ng-repeat="path in state.paths">
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="path.name" ng-click="savedFalse()" title="path">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="delete(path)">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <button class="btn btn-default" ng-click="add()">Add item</button>
                            </div>
                            <div>
                                <h4>Media player:</h4>
                                <input class="form-control" type="text" ng-model="state.player" value="state.player"
                                        ng-click="savedFalse()" title="player"/>
                            </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default" ng-click="save()">
                            Save changes
                            <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="state.saved"></span>
                            <span class="glyphicon glyphicon-alert" aria-hidden="true" ng-show="state.error"></span>
                        </button>
                    </div>
                </div>
                </form>
            </td>
            <td width="10%"></td>
        </tr>
        </tbody>
    </table>
</div>





