<div class="table-responsive">
    <table class="table">
        <tbody>
        <tr>
            <td width="10%"></td>
            <td width="80%">
                <div class="panel panel-default" style="background-color:black;">
                    <div class="panel-body">
                        <div style="width: 600px; margin: auto; color: white;">
                            <img src="static/images/update.jpg" style="width: 150px;">
                            <span>
                                We are updating the database. Please wait and visit the main page.
                            </span>
                        </div>
                    </div>
                </div>
            </td>
            <td width="10%"></td>
        </tr>
        </tbody>
    </table>
</div>





