body {
    font-family: sans-serif;
    color: #000;
    background: #fff;
    background-image: url("bg.jpg");

}

.navbar-inverse {
    background-color: #000;
    margin-bottom: 0px;
    border: 0px;
}

.glyphicon {
    font-size: 15px;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #000;
}

.table-responsive>.table {
    background-color: transparent;
}

.thumbnail {
    background: #000;
    width: 160px;
    height: 240px;
    padding: 5px;
    border: 0px;
}

.panel-default {
    border-color: #000;
    border: 10px;
    background: #fff;
}

.panel-default>.panel-heading {
    background: #000;
    color: #fff;
}

.panel-footer {
    background: #000;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: gray;
    box-shadow: 0 1px 1px rgba(168, 168, 168, 0.075) inset, 0 0 8px rgba(168, 168, 168, 0.6);
    outline: 0 none;
}

.btn-default:focus
{
    outline-color: #C58917;
}

.modal-body .head {
    padding-top: 5px;
    padding-right: 10px;
    font-variant: small-caps;
}

.modal-body .body {
    padding-top: 5px;
}

.modal-body .path {
    padding-top: 10px;
}

.btn-group-lg>.btn, .btn-lg {
    border: 0px;
    padding:0px;
}

button>img {
    height: 230px;
    width: 150px;
}

.star-box {
    height: 50px;
    width: 50px;
    background-image: url("star.png");
    background-size: 50px 50px;
}

.star-box>div {
    color: #e0e0e0;
    position: relative;
    text-align: center;
    top: 18px;
}

.table {
    margin: 0px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th, .table-responsive {
    border: 0px;
}

.table>tbody>tr>td {
}

label {
    font-size: 80%;
}

#not-sure {
    padding-left: 20px;
    padding-right: 20px;
}

#not-sure>form>div {
    padding-top: 10px;
}

#not-sure-table>tbody>tr>td {
    vertical-align: middle;
    line-height: 34px;
}

#imdb-link-td {
    width: 274px;
}

#id-valid {
    width: 80px;
}

#specnorm .btn-default, #specnorm .btn-default:focus{
    background: #000;
    color: #fff;
    border-color: #fff;
    outline-color: #fff;
}

.specific .input-group .form-control {
    width:50%;
    margin-right:0;
}
.specific .input-group .input-group-addon{
    width:33%;
}

#modal-table {
    width: 100%;
    margin-top: 10px;
}
#modal-table>tbody>tr>td {
    padding: 3px;
}

.seenTrue {
    color: lightgray;
}

.seenFalse {
    color: black;
}