body {
    font-family: sans-serif;
    background: #CE9B58;
    color: #351A05;
}

.navbar-inverse {
    background : #351A05;
    border: 0px;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: #CE9B58;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #644C37;
}

.dropdown-menu {
    background-color: #f1ecd6;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #fff;
    color: #333;
}

.table-responsive>.table {
    background-color: transparent;
}

.thumbnail {
    background: #351A05;
    width: 150px;
    height: 220px;
    padding: 10px;
    border: 0px;
}

.panel-default {
    border-color: #FFFFFF;
    border: 10px;
    background: #f1ecd6;
}

.panel-default>.panel-heading {
    background: #351A05;
    color: #CE9B58;
}

.panel-footer {
    background: #351A05;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: #C58917;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
}

.btn-default:focus
{
    outline-color: #C58917;
}

.modal-body .head {
    padding-top: 5px;
    padding-right: 10px;
    font-variant: small-caps;
}

.modal-body .body {
    padding-top: 5px;
}

.modal-body .path {
    padding-top: 10px;
}

.btn-group-lg>.btn, .btn-lg {
    border: 0px;
    padding:0px;
}

button>img {
    height: 200px;
    width: 130px;
}

.star-box {
    height: 50px;
    width: 50px;
    background-image: url("blue2.png");
    background-size: 50px 50px;
}

.star-box>div {
    color: #e0e0e0;
    position: relative;
    text-align: center;
    top: 18px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th, .table-responsive {
    border: 0px;
}

label {
    font-size: 80%;
}

#not-sure {
    padding-left: 20px;
    padding-right: 20px;
}

#not-sure>form>div {
    padding-top: 10px;
}

#not-sure-table>tbody>tr>td {
    vertical-align: middle;
    line-height: 34px;
}

#imdb-link-td {
    width: 274px;
}

#id-valid {
    width: 67px;
}